@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #052e16;
    color: #f9fafb;
    font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #052e16;
}

::-webkit-scrollbar-thumb {
    background: #0a5c36;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #10b981;
}